body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #006fdf;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  

  .nav-item {
    color: #00ff77;
    margin: 0px;
  }
  .main-container {
    padding: 20px;
    min-height: calc(100vh - 50px);
    min-height: 200vh;
    margin-top: 70px;
}
  .nav-button {
    background-color: rgba(255, 0, 30, 0.495);
    color: black;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 00px;
  }
  .image-div {
    background-image: url("PC.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-container h1 {
    color: rgb(255, 255, 255);
  }

  .main-container p {
    color: rgb(179, 179, 179);
  }

  .scrollable-file {
  align-items: center;
  background-color: rgba(255, 0, 0, 0.248);
  color: #fffb00bb;
  padding: 10px;
  margin: 460px auto 0 auto;
  height: 210px;
  width: 385px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(157, 0, 0, 0.711);
}
